:root {
        --primary-color: #586531;
        --secondary-color: #d5a324;
        --tertiary-color: #2f2408;
        --quad-color: #38a3f6;
        --quint-color: #dd3f3d;
        --hex-color: #000000;
        --sep-color: #cfd2cf;
}

header {
    color: var(--sep-color);
    background-color: var(--quint-color);
}

body {
    font-family: "Nova Script";
    color: var(--quad-color);
    background-color: var(--hex-color);
}

a {
    color: var(--sep-color);
}

a:hover {
    color: var(--quad-color);
}

p {
    font-family: "Nunito";
}
